@model System.Collections.Generic.Dictionary<int,WebApp.Models.ContactModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Kontakty</h2>
<a class="btn btn-primary" asp-action="Add" asp-controller="Contakt">Dodaj kontakt</a>
<h4 class="mb-3">Lista kontaktów</h4>
<table class="table">
    <thead>
    <tr>
        <th>
            Imię 
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Operacje
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var entry in @Model)
    {
        <tr>
            <td>
                @entry.Value.FirstName
            </td>
            <td>
                @entry.Value.LastName
            </td>
            <td>
                <a CLASS="btn btn-success">Edytuj</a>
                <a CLASS="btn btn-info">Szczegóły</a>
                <a CLASS="btn btn-danger">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>