<!DOCTYPE html>

<html>
<head>
    <title>title</title>

</head>
<body>
<div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <h2>Kalkulator</h2>
                <form action="BirthdayResult" method="GET">
                    <div class="mb-3">
                        <label class="form-label" for="Name">Podaj Imie:</label>
                        <input class="form-control" type="text" Name="Name" id="Name"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="Date">Podaj date urodzenia: </label>
                        <input class="form-control" type="Date" name="Date" id="Date"/>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Oblicz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>